<template>
  <div class="container">
    <h1 id="header">FutureTech Payment POC</h1>
    <p class="error" v-if="error"> {{ error }} </p>
    <div class="camera" v-show="showCamera">
      <video autoplay class="feed"></video>
      <button class="snapButton" v-on:click='takeSnap'>SNAP</button>
    </div>
    <div class="picture" v-show="!showCamera">
      <canvas id="myCanvas"></canvas>
      <button class="snapButton" v-on:click='init' v-if="!loading">next</button>
      <div v-if="loading">
        <Spinner id="my-spinner" size="medium" />
        <h3 class="loading" >Loading...</h3>
      </div>
      <div class="results" v-if="showResults">
       <label v-text="message"></label><br>
       <button v-on:click='toggleDetails' id="toggleDetails" v-if="this.message != '{}'">Show details</button>
      </div>
      <div class="details" v-if="showDetails">
        <pre>{{ details | pretty }}</pre>
      </div>
    </div>
  </div>
</template>

<script>

import axios from 'axios';
import Spinner from 'vue-simple-spinner';

export default {
  name: "camera",
  components: {
    Spinner
  },
  data: function() {
    return {
      error: "",
      message: "",
      details: "",

      loading: false,
      showCamera: true,
      showDetails: false,
      showResults: false,
    };
  },
  filters: {
    pretty: function(value) {
      return JSON.stringify(JSON.parse(value), null, 2);
    }
  },
  methods: {
    init() {
      if ('mediaDevices' in navigator && 'getUserMedia' in navigator.mediaDevices) {
        let constraints = {
          video: {
            width: {
              min: 640,
              ideal: 1280,
              max: 1920
            },
            height: {
              min: 360,
              ideal: 720,
              max: 1080
            }
          }
        }
        navigator.mediaDevices.getUserMedia(constraints).then(stream => {
          const videoPlayer = document.querySelector("video");
          videoPlayer.srcObject = stream;
          videoPlayer.play();
        });
      } else {
        alert("Couldn't get media devices");
      }
      this.showCamera = true;
      this.showResults = false;
      this.showDetails = false;
    },
    takeSnap() {
      this.showCamera = false;
      this.error = "";
      const snap = document.querySelector("canvas");

      // Portrait or Lanscape?
      let ratio = (window.innerHeight < window.innerWidth) ? 16/9 : 9/16;
      snap.width = (window.innerWidth < 1280) ? window.innerWidth : 1280;
      snap.height = window.innerWidth / ratio;
      const ctx = snap.getContext("2d");
      ctx.imageSmoothingEnabled = true;
      ctx.imageSmoothingQuality = "high";
      const pic = document.querySelector("video");
      ctx.drawImage(pic, 0, 0, snap.width, snap.height);
      this.loading = true;
      this.sendSnap(snap.toDataURL());
    },
    sendSnap(imageData) {
      axios({ method: "POST", "url": process.env.VUE_APP_ROOT_API + "/search", data: imageData}).then(result => {
        this.message = JSON.stringify(result.data.message);
        this.details = JSON.stringify(result.data.details);
        this.loading = false;
        this.showResults = true;
      }, error => {
        this.error = error;
        window.console.error(error);
        this.loading = false;
      });
    },
    toggleDetails() {
      const btn = document.querySelector("#toggleDetails");
      if (this.showDetails == true) {
        this.showDetails = false;
        btn.textContent = "Show Details";
      } else {
        this.showDetails = true;
        btn.textContent = "Hide Details";
      }
    }
  },
  beforeMount() {
    this.init();
  }
};

</script>

<style lang="scss" scoped>
.container {
  width: 80%;
  margin: auto;
}

#header {
  margin: auto;
  text-align:center;
}

.error {
  color: red;
}

.camera {
  margin: 25px;
  
  .feed {
    display: block;
    width:50%;
    margin: 0 auto;
    background-color: #171717;
    box-shadow: 6px 6px 12px 0px rgba(0, 0, 0, 0.35);
  }
}
.picture {
  display: block;
  padding: 25px;
  box-sizing: border-box;
  position:relative;

  canvas {
    display: block;
    width:50%;
    margin: 0 auto;
    box-shadow: 4px 4px 12px 0px transparentize($color: #171717, $amount: 0.5);
  }

  h3 {
    background: #9f9f9f;
    padding: 10px;
    border-radius: 10%;
    color: #fff;
    position: absolute;
    top: 150px;
    left: 47%;

  }

  #my-spinner {
    position: absolute;
    top: 130px;
    left: 50%;
  }

  .results {
    /** 
    border: 1px black solid;
    background: coral;
    color: #fff;
     */
    width:50%;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
  }

  .details {
    box-sizing: border-box;
    margin: 25px auto;
    width: 50%;
    border: 1px solid coral;
    background: black;
    color: white;
    min-width: 500px;
  }
}

.snapButton {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 25px auto;
  background-color: transparentize($color: #FFCE00, $amount: 0.5);
  border: 1px solid #171717;
  cursor: pointer;

  &:hover {
    background-color: #FFCE00;
  }

  &:active{
    background-color: darken($color: #FFCE00, $amount: 10);
  }
}
</style>
