<template>
  <div id="app">
    <Camera />
  </div>
</template>

<script>
import Camera from "./components/Camera.vue";

export default {
  name: 'app',
  components: {
    Camera
  },
  methods: {
	}
}
</script>

<style lang="scss">
body {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	background-color: #F3F3F3;
}
</style>
